.footer-p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30vh;
    padding-top: 50px;
    margin-bottom: 0;
}

.footer-p-text{   
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-p-text p{
    color: #8900fc;
    font-size: 1.5rem;
    padding: 5px;
    line-height: 20px;
    font-style: italic;
    margin: 0;
}

.footer-p-social{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.footer-p-social a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-p-social p{
    color: #8900fc;
    margin: 0;
    font-size: 1.2rem;
}

.footer-p-icon{
    color: #8900fc;
    margin: 5px;
    width: 2vw;
    height: 2vw;
    font-size: 1rem;
    padding: 10px;
}


.footer-p-copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #8900fc;
    font-style: italic;
    margin-top: 20px;
    padding-bottom: 15px;
}

.footer-p-copyright p{
    margin-bottom: 0;
}