.footer-p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30vh;
    padding-top: 50px;
    margin-bottom: 0;
}

.footer-p-text{   
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-p-text p{
    color: #8900fc;
    font-size: 1.5rem;
    padding: 5px;
    line-height: 20px;
    font-style: italic;
    margin: 0;
}

.footer-p-social{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.footer-p-social a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-p-social p{
    color: #8900fc;
    margin: 0;
    font-size: 1.2rem;
}

.footer-p-icon{
    color: #8900fc;
    margin: 5px;
    width: 2vw;
    height: 2vw;
    font-size: 1rem;
    padding: 10px;
}

.footer-p-contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-p-contact p{
    color: #8900fc;
    padding: 0;
    margin: 0;
}


.footer-p-copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #8900fc;
    font-style: italic;
    margin-top: 5px;
    margin-bottom: 30px;
    padding-bottom: 9px;
}

.footer-p-copyright p{
    margin-bottom: 0;
    font-size: 0.8vw;
}

@media (max-width: 599px) {
    .footer-p-copyright p{
        font-size: 2.5vw;
    }

    .footer-p-social{
        flex-direction: column;
        gap: 0;
    }
    .footer-p-social p{
        font-size: 1rem;
    }

    .footer-p-icon{
        width: 4vw;
        height: 4vw;
        margin: 0;
    }

    .footer-p-text p{
        margin-bottom: 7px;
        font-size: 5vw;
        width: 80%;
    }

    .footer-p-text p{
        text-align: center;
    }
}

@media (min-width: 600px) and (max-width: 899px) {

    .footer-p{
        padding-top: 30px;
    }

    .footer-p-social{
        flex-direction: column;
        gap: 0;
    }

    .footer-p-icon{
        width: 4vw;
        height: 4vw;
        margin: 0;
    }

    .footer-p-text p{
        margin-bottom: 7px;
    }

    .footer-p-copyright p{
        font-size: 1.2vw;
    }
}