.header-bg-p {
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 100%;
  height: 200px;
  z-index: 5;
  top: 0;
  background-color: #8900fc;
}

.header-container-p.container {
  gap: 2vw;
  margin: 0;
  padding: 0;
  top: 0;
  display: flex;
  background-color: #8900fc;
}

.header-link-p {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  position: relative;
  margin: 0 10px;
}

.header-link-p,
.header-link-p:hover,
.header-link-p:active,
.header-link-p:focus {
  font-size: 1.5rem !important;
}

.header-link-p p {
  font-family: "Lato", sans-serif;
  margin: 0;
  color: #8900fc;
  background-color: white;
  height: 40px;
  padding: 6px 25px;
  border-radius: 50px;
  font-size: 1.3vw;
  white-space: nowrap;
  transition: 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-link-p p:hover {
  background-color: #117eff;
}


.header-apresentacao, .header-contato{
  justify-self: center;
  align-self: center;
  transition: 0.5s ease;
}

.header-pacientes-p p:hover,
.header-psicologos-p p:hover {
  height: 40px;
  border-radius: 20px;
  transform: translateY(32%);
}
.header-psicologos-p,
.header-pacientes-p {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 40px;
  position: relative;
  font-family: "Lato", sans-serif;
  color: #8900fc;
  background-color: white;
  padding: 6px 25px;
  border-radius: 50px;
  font-size: 1.3vw;
  white-space: nowrap;
  transition: 0.5s ease;
  text-decoration: none;
}



.header-bg.scrolled .header-link-p {
  color: #047060;
}

.navbar-nav .header-link-p.active p{
  background-color: #117eff;
}

.header-toggle {
  color: #5de280;
}

.header-logo-p img {
  content: url("/images/Logo Lud branco.png");
  height: 120px;
  background-size: contain;
}


.header-dropdown-menu {
  background-color: white;
}

.header-dropdown-menu .dropdown-item {
  color: #8900fc;
  padding: 6px 25px;
  font-size: 1.2rem;
  transition: 0.5s ease;
}

.header-dropdown-menu .dropdown-item:hover {
  background-color: #117eff;
}

.dropdown{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 17px;
}

.header-dropdown-toggle::after {
  display: none !important;
}

.header-bg-p .navbar-toggler{
  color: white;
  border: 1.5px groove white;
}

.navbar-toggler-icon{
  color: white !important;
}

@media (max-width: 991px) {

  .header-bg-p {
    height: 20vw;
    padding: 0;
  }
  .header-container-p {
    gap: 0vw;
    display: flex;
  }

  .header-bg-p .show p,
  .header-bg-p .show .header-pacientes-p,
  .header-bg-p .show .header-psicologos-p,
  .header-bg-p .show .header-link-p {
    background-color: #8900fc;
    color: white;
    font-size: 3.5vw;
    margin: 0 15px 0 0;
    padding: 0;
    display: flex;
    justify-self: flex-end;
    align-self: flex-end;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .header-pacientes-toggle-p,
  .header-psicologos-toggle-p {
    background-color: #8900fc;
    color: white;
    font-size: 3.5vw;
    margin: 0;
    padding: 0;
  }
  .header-psicologos-p,
  .header-pacientes-p {
    background-color: #8900fc;
    color: white;
    font-size: 3.5vw;    
  }

  .header-apresentacao-p,
  .header-contato-p {
    justify-self: flex-end !important;
    align-self: flex-end !important;
  }

  .header-link-p p {
    background-color: #8900fc;
    color: white;
    font-size: 3.5vw;
    display: flex;
    justify-self: flex-end;
    align-self: flex-end;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .show .dropdown-p {
    display: flex;
    flex-direction: column;;
  }
  .show .dropdown-menu-p {
    border: none;
    background-color: #8900fc;
  }

  .show .dropdown-item-p {
    color: black;
    font-size: 3vw;
    text-align: right;    
  }

  .header-logo-p img {
    height: 20vw;
  }

  .navbar-nav,
  .nav-link-p {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-bottom: 10px;
  }
}

