.lp-what-learn {
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
  text-align: center;
}

.lp-what-learn-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lp-what-learn h2 {
  color: #8900fc;
  font-size: 2.8rem;
  margin-bottom: 15px;
}

.lp-what-learn p {
  font-size: 1.2rem;
  margin-bottom: 30px;
  width: 90%;
}

.swiper-container-wrapper {
  position: relative;
  padding: 0 40px;
  height: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lp-what-learn-slider {
  padding: 20px 0;
  overflow: hidden;
}

.lp-what-learn-slide {
  display: flex;
  justify-content: center;
}

.lp-what-learn-slide img {
  width: 15vw;
  height: auto;
  object-fit: contain;
}

.custom-swiper-button-next,
.custom-swiper-button-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8900fc;
  font-weight: bold;
  font-size: 20px;
}

.custom-swiper-button-next {
  right: 0;
}

.custom-swiper-button-prev {
  left: 0;
}

.custom-swiper-button-next::after,
.custom-swiper-button-prev::after {
  font-family: swiper-icons;
  font-size: 20px;
}

.custom-swiper-button-next::after {
  content: 'next';
}

.custom-swiper-button-prev::after {
  content: 'prev';
}

/* === Responsividade === */

/* Dispositivos até 767px (Mobile) */
@media (max-width: 550px) {
  .lp-what-learn {
    padding: 0 10px;
  }

  .lp-what-learn h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  .lp-what-learn p {
    font-size: 0.95rem;
    margin-bottom: 15px;
    width: 100%;
  }

  .swiper-container-wrapper {
    padding: 0 10px;
    height: auto;
    margin: 0;
  }

  .lp-what-learn-slide img {
    width: 30vw; /* mais largura para facilitar visualização */
  }

  .custom-swiper-button-next,
  .custom-swiper-button-prev {
    display: none; /* oculta setas, usa swipe manual */
  }
}
@media (min-width: 560px) and (max-width: 767px) {
  .lp-what-learn h2 {
    font-size: 1.7rem;
  }

  .lp-what-learn p {
    font-size: 1rem;
    margin-bottom: 20px;
  }

  .swiper-container-wrapper {
    padding: 0 20px;
    height: 30vw;
    margin-top: 50vw;
  }

  .lp-what-learn-slide img {
   width: 25vw;
   
  }

  .custom-swiper-button-next,
  .custom-swiper-button-prev {
    display: none;
  }
}

/* Tablet (768px a 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
  
  .lp-what-learn-slide {
    margin: 0; 
    padding: 0; 
  }
  .lp-what-learn-slide img {
    width: 25vw; 
    margin: 0;
    padding: 0;
  }

  .lp-what-learn h2 {
    font-size: 2.2rem;
  }

  .swiper-container-wrapper {
    padding: 0;
    height: 50vw;   
  }

  .custom-swiper-button-next,
  .custom-swiper-button-prev {
    width: 50px;
    height: 50px;
  }
}

/* Desktop abaixo de 1200px */
@media (max-width: 1199px) {
}
