.marketing {
  background-color: #8900fc;
  width: 100%;
  height: 100%;
  padding-bottom: 50px;
}

.marketing-top {
  color: white;
  margin: 0 8vw;
}

.marketing-top h2 {
  font-style: italic;
  font-size: 2.5rem;
  font-weight: 600;
  padding-bottom: 30px;
}

.marketing-top p {
  font-weight: 600;
  font-size: 1.2rem;
}

.marketing-cronograma {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.marketing-cronograma h2 {
  margin-top: 50px;
}

.marketing-cronograma-modulo {
  background-color: white;
  color: #8900fc;
  border-radius: 20px;
  padding: 2vw 4vw;
}

.marketing-cronograma-modulo h3 {
  font-style: italic;
  font-weight: 600;
}

.marketing-bot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.marketing-bot h2 {
  color: white;
  font-size: 2.5rem;
  font-style: italic;
  font-weight: 600;
  margin-top: 100px;
}

.marketing-bot-box {
  background-color: white;
  color: #8900fc;
  margin: 4vw 7vw;
  border-radius: 20px;
  padding: 4vw 4vw;
}

.marketing-bot-box p {
  font-size: 1.5rem;
}

.marketing-btn {
  background-color: #117eff;
  width: 30vw;
  height: 7vh;
  color: white;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.marketing-btn:hover {
  background-color: white;
  color: #8900fc;
}

.marketing-btn p {
  margin: 7px;
  font-size: 1.5vw;
}

.marketing-bot-logo {
  display: flex;
  padding: 0 10vw;
  margin-top: 50px;
  gap: 5vw;
}

.marketing-bot-logo h2 {
  font-size: 2.5vw;
  font-style: italic;
  font-weight: 600;
  color: white;
}
.marketing-bot-logo img {
  content: url("/images/LOGO PSI ALTA PER.png");
  width: 30vw;
}

.marketing-bot-fotos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 8vw;
}

.marketing-bot-fotos img {
  width: 20vw;
}

.marketing-bot-fotos-banner {
  position: absolute;
  background-color: white;
  border-radius: 20px;
  padding: 10px;
  margin-top: 12vw;
}

.marketing-bot-fotos-banner p {
  margin: 0;
  color: #117eff;
  font-size: 1.7vw;
  font-weight: 600;
}

.marketing-bot-btn {
  background-color: #117eff;
  width: 40vw;
  height: 7vh;
  color: white;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto 0;
  text-decoration: none;
}

.marketing-bot-btn:hover {
  background-color: white;
  color: #8900fc;
}

.marketing-bot-btn p {
  margin: 7px;
  font-size: 1.6vw;
}

@media (max-width: 599px) {
  .marketing-btn {
    width: 70vw;
  }

  .marketing-btn p {
    font-size: 3vw;
  }

  .marketing-bot-logo {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .marketing-bot-logo img {
    width: 60vw;
  }

  .marketing-bot-logo h2 {
    font-size: 4vw;
    text-align: center;
  }

  .marketing-bot-fotos img {
    width: 25vw;
  }

  .marketing-bot-fotos-banner p {
    font-size: 2.5vw;
  }
  
  .marketing-bot-btn {
    width: 60vw;
  }

  .marketing-bot-btn p {
    font-size: 2.5vw;
  }
}
@media (min-width: 600px) and (max-width: 899px) {
  .marketing-btn {
    width: 60vw;
  }

  .marketing-btn p {
    font-size: 2.7vw;
  }

  .marketing-bot-btn {
    width: 60vw;
  }

  .marketing-bot-btn p {
    font-size: 2.5vw;
  }
}

@media (min-width: 900px) and (max-width: 1199px) {
  .marketing-btn {
    width: 50vw;
  }

  .marketing-btn p {
    font-size: 2.2vw;
  }
}
