.pense-magro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}
.pense-magro-top {
  margin: 1vw 10vw 0 10vw;
}

.pense-magro-top h2 {
  color: #8900fc;
  font-style: italic;
  font-size: 3vw;
  font-weight: 600;
}

.pense-magro-top p {
  font-weight: 600;
  font-size: 1.1rem;
}

.pense-magro-balls {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2vw;
}

.pense-magro-balls > p:first-child {
  background-color: #8900fc;
  border-radius: 40px;
  color: white;
  height: 20vh;
  font-size: 1.6vw;
  font-weight: 600;
  width: 20vw;
  line-height: 27px;
  font-style: italic;
  display: flex;
  padding: 4vw 2.5vw;
  justify-content: center;
  align-items: center;
  margin-right: 4vw;
}
.pense-magro-ball {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.pense-magro-ball p {
  background-image: url("/images/BOLA DEGRADÊ.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 8vw;
  height: 8vw;
  color: black;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px;
  font-size: 1vw;
  line-height: 15px;
}

.pense-magro-arrow img {
  content: url("/images/SETA PRETA.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 5vw;
  display: flex;
  padding: 20px;
}

.pense-magro-top-end {
  background-color: #8900fc;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 25px;
  margin-bottom: 50px;
}

.pense-magro-top-end p {
  margin: 0;
  color: white;
  font-size: 1.4vw;
  font-style: italic;
}

.pense-magro-bg-top {
  background-image: url("/images/fundo degradê azul.png");
  background-size: 100% 80%;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pense-magro-bot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5vw 6vw 6vw 6vw;
  width: 100%;
  padding-bottom: 50px;
}

.pense-magro-bot-balls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4vw;
}

.pense-magro-bot-ball p {
  background-image: url("/images/BOLA ROXA.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 10vw;
  height: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
  text-align: center;
  font-size: 5vw;
  padding: 27px;
  line-height: 21px;
}

.pense-magro-line {
  background-color: #8900fc;
  width: 6vw;
  height: 10px;
  margin-bottom: 15px;
}

.pense-magro-bot h2 {
  padding-top: 50px;
  font-style: italic;
  font-size: 3vw;
  font-weight: 600;
  color: #8900fc;
}

.pense-magro-bot p {
  font-weight: 600;
  font-size: 1.3rem;
  text-align: center;
}

.pense-magro-bot-paragrafo {
  width: 80vw;
}

.pense-magro-bot-end {
  border: 4px solid #8900fc;
  border-radius: 80px;
  margin: 3vw;
}
.pense-magro-bot-end p {
  font-size: 2vw;
  font-weight: 600;
  color: #8900fc;
  padding: 5px 20px;
  margin: 0;
  font-style: italic;
}

.pense-magro-depoimentos {
  width: 100%;
  display: grid;
  place-items: center;
}
.swiper {
  width: 100%;
}

.swiper img {
  width: 30vw;
}

.swiper-custom-next,
.swiper-custom-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  cursor: pointer;
  background-color: transparent;
  z-index: 1;
  &:hover {
    opacity: 0.8;
  }
}

.swiper-custom-next {
  right: 80px;
}

.swiper-custom-prev {
  left: 40px;
}

.swiper-custom-next img,
.swiper-custom-prev img {
  width: 3vw;
  height: 6vw;
}

.hidden-swiper-pensemagro {
  display: none;
}

.pense-magro .swiper-slide {
  height: 35vw;
}

.pense-magro-bot-btn {
  background-color: #117eff;
  padding: 6px 25px;
  color: white;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  justify-self: center;
  margin: 5vw 0 5vw 0;
  text-decoration: none;
  width: 40vw;
  text-align: center;
}

.pense-magro-bot-btn:hover{
background-color: #8900fc;
}

.pense-magro-bot-btn p {
  margin: 0;
  font-size: 1.4vw;
}

@media (max-width: 599px) {
  .pense-magro-top h2 {
    font-size: 4.5vw;
  }

  .pense-magro-top p {
    font-size: 3.5vw;
  }
  .pense-magro-balls {
    flex-direction: column;
  }
  .pense-magro-balls > p:first-child {
    width: 60vw;
    font-size: 4.5vw;
    margin-bottom: 8vw;
    height: 17vw;
    text-align: center;
    border-radius: 20px;
  }
  .pense-magro-ball p {
    width: 30vw;
    height: 30vw;
    font-size: 4vw;
    line-height: 5vw;
  }
  .pense-magro-arrow img {
    height: 15vw;
    transform: rotate(90deg);
    margin: 10px 0;
  }
  .swiper{
    height: 50vh;
  }
  .swiper img {
    width: 100vw;
  }

  .pense-magro-top-end {
    width: 80%;
  }

  .pense-magro-top-end p {
    font-size: 4.5vw;
    text-align: center;
    padding: 5px;
  }

  .pense-magro-bot {
    margin-bottom: 0;
  }
  .pense-magro-bot h2 {
    padding-top: 0;
    font-size: 4.5vw;
  }

  .pense-magro-bot-balls {
    flex-direction: column;
  }

  .pense-magro-line {
    height: 6vw;
    width: 10px;
    margin: 0;
  }

  .pense-magro-bot-ball p {
    margin: 0;
    width: 30vw;
    height: 30vw;
    font-size: 3.5vw;
  }

  .pense-magro-bot p {
    font-size: 3.5vw;
  }

  .pense-magro-bot-end {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 4vw;
    width: 80%;
    border: 2px solid #8900fc;
  }

  .pense-magro-bot-end p {
    font-size: 4.5vw;
    text-align: center;
    width: 100%;
  }

  .pense-magro .swiper-slide {
    height: 70vw;
  }

  .pense-magro-bot-btn p {
    font-size: 3vw;
  }
  
}
@media (min-width: 600px) and (max-width: 899px) {
  .pense-magro-balls {
    flex-direction: column;
  }
  .pense-magro-balls > p:first-child {
    width: 60vw;
    font-size: 5vw;
    line-height: 5vw;
  }
  .pense-magro-ball p {
    width: 30vw;
    height: 30vw;
    font-size: 4vw;
    line-height: 5vw;
  }
  .pense-magro-arrow img {
    height: 10vw;
    transform: rotate(90deg);
    margin: 10px 0;
  }

  .pense-magro-bot-balls {
    flex-direction: column;
  }

  .pense-magro-line {
    height: 6vw;
    width: 10px;
    margin: 0;
  }

  .pense-magro-bot-ball p {
    margin: 0;
    width: 30vw;
    height: 30vw;
  }

  .pense-magro-bot-end p {
    font-size: 3.1vw;
  }

  .swiper img {
    width: 50vw;
  }

  .pense-magro .swiper-slide {
    height: 55vw;
  }

  .pense-magro-top-end p {
    font-size: 1.8vw;
    text-align: center;
    padding: 10px;
  }
}
@media (min-width: 900px) and (max-width: 1199px) {
}
