.pense-magro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}
.pense-magro-top {
  margin: 10vw 10vw 0 10vw;
}

.pense-magro-top h2 {
  color: #8900fc;
  font-style: italic;
  font-size: 3rem;
  font-weight: 600;
}

.pense-magro-top p {
  font-weight: 600;
  font-size: 1.1rem;
}

.pense-magro-balls {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 100px;
}

.pense-magro-balls > p:first-child {
  background-color: #8900fc;
  border-radius: 40px;
  color: white;
  height: 20vh;
  font-size: 1.6vw;
  font-weight: 600;
  width: 20vw;
  line-height: 27px;
  font-style: italic;
  display: flex;
  padding: 4vw 2vw;
  justify-content: center;
  align-items: center;
  margin-right: 4vw;
}
.pense-magro-ball {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.pense-magro-ball p {
  background-image: url("/images/BOLA DEGRADÊ.png");
  background-size: cover;
  width: 10vw;
  height: 10vw;
  background-color: white;
  color: black;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  font-size: 1.3vw;
}

.pense-magro-arrow img {
  content: url("/images/SETA PRETA.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 5vw;
  display: flex;
  padding: 20px;
}

.pense-magro-top-end {
  background-color: #8900fc;
  border-radius: 20px;
  width: 90vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 30px;
}

.pense-magro-top-end p {
  margin: 0;
  color: white;
  font-size: 1.8rem;
  font-style: italic;
}

.pense-magro-bot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10vw;
}

.pense-magro h2 {
  color: #8900fc;
  font-size: 5vw;
  font-style: italic;
  font-weight: 600;
}

.pense-magro-bot-balls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px;
}

.pense-magro-bot-ball p {
  background-image: url("/images/BOLA ROXA.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 10vw;
  height: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
  text-align: center;
  font-size: 5vw;
  padding: 25px;
  line-height: 21px;
}

.pense-magro-line {
  background-color: #8900fc;
  width: 6vw;
  height: 10px;
  margin-bottom: 15px;
}

.pense-magro-bot p {
  font-weight: 600;
  font-size: 1.3rem;
  text-align: center;
}

.pense-magro-bot-end {
  border: 4px solid #8900fc;
  border-radius: 80px;
  margin-top: 50px;
}
.pense-magro-bot-end p {
  font-size: 2.5rem;
  color: #8900fc;
  padding: 5px 20px;
  margin: 0;
  font-style: italic;
}

.pense-magro-depoimentos {
  width: 100%;
  display: grid;
  place-items: center;
}
.swiper {
  width: 100%;
}

.swiper img {
  width: 30vw;
}

.swiper-button-next::after {
  padding-left: 70px;
  background-image: url("./images/SETA ROXA DIREITA.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 6vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #8900fc;
}
.swiper-button-prev::after {
  padding-right: 100px;
  margin-left: 120px;
  background-image: url("./images/SETA ROXA ESQUERDA.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 6vw;
  color: #8900fc;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 599px) {
  .pense-magro-balls {
    flex-direction: column;
  }
  .pense-magro-balls > p:first-child {
    width: 60vw;
    font-size: 5vw;
    line-height: 45px;
  }
  .pense-magro-ball p {
    width: 30vw;
    height: 30vw;
    font-size: 4vw;
  }
  .pense-magro-arrow img {
    height: 15vw;
    transform: rotate(90deg);
    margin: 10px 0;
  }
  .swiper img {
    width: 60vw;
  }
}
@media (min-width: 600px) and (max-width: 899px) {
  .pense-magro-balls {
    flex-direction: column;
  }
  .pense-magro-balls > p:first-child {
    width: 60vw;
    font-size: 5vw;
    line-height: 45px;
  }
  .pense-magro-ball p {
    width: 30vw;
    height: 30vw;
    font-size: 4vw;
  }
  .pense-magro-arrow img {
    height: 10vw;
    transform: rotate(90deg);
    margin: 10px 0;
  }

  .pense-magro-bot-balls {
    flex-direction: column;
  }
  .pense-magro-bot-ball p {
    width: 30vw;
    height: 30vw;
    font-size: 4vw;
    line-height: 45px;
  }

  .pense-magro-line {
    transform: rotate(90deg);
  }

  .swiper img {
    width: 60vw;
  }
}
@media (min-width: 900px) and (max-width: 1199px) {
}
