.home {
  display: flex;  
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-desktop-bg{
  background-image: url("/images/asa com texto 2.png");
  background-size: 90% auto;
  background-repeat: no-repeat;
}

.home-mobile-bg{
  background-image: url("/images/asa com texto.png");
  background-size: 90% auto;
  background-repeat: no-repeat;
  background-position:top;
}

.home-content {
  display: flex;
  gap: 15vw;
  margin-left: 10vw;
}

.home-btn {
  background-color: #8900FC;
  border-radius: 50px;
  color: white;
  text-align: center;
  padding: 6px 25px;
  font-size: 1.4vw;
  font-weight: 500;
  align-self:flex-start;
  text-decoration: none;
  margin-top: 23.8vw;
}

.home-btn:hover{
    background-color: #117EFF;
    cursor: pointer;
}

.home-img img {
  max-height: 32vw;
  content: url("/images/GRADE DE FOTO TELA 1.png");
}

@media (max-width: 990px) {
  .home-content{
    flex-direction: column-reverse;
    gap: 0;
    margin: 23vw 0 0 0;
    justify-content: center;
    align-items: center;
  }

  .home-btn{
    margin: 5vw 0;
    align-self: center;
    font-size: 3vw;
  }

  .home-img img{
    max-height: 60vw;
    margin-top: 10vw;
  }
}

