.landing-page{
    padding: 0 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Lato", sans-serif;
    gap: 50px;
    overflow-x: hidden;
}
h2{
    font-style: italic;
    font-weight: 700;
}
.purple{
    color: #8900fc;
}
.desktop{
    display: block;
}
.mobile{
    display: none;
}
.tablet {
    display: none;
}

@media (max-width: 599px) {
    .landing-page{
        padding: 0;
    }
    .mobile{
        display: block;
    }
    .desktop{
        display: none;
    }
    .tablet {
        display: none !important;
    }
}

@media (min-width: 600px) and (max-width: 899px) {
    .landing-page{
        padding: 0 5vw;
    }

    .tablet {
        display: block;
    }
    .desktop {
        display: none;
    }
}