.terapia {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("/images/FUNDO DEGRADÊ.png");
}

.terapia-banner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.terapia-banner h2 {
  position: absolute;
  left: 2%;
  top: 20vh;
  background-color: #117eff;
  font-style: italic;
  color: white;
  border-radius: 20px;
  padding: 1rem;
  font-size: 2.6vw;
  font-weight: 600;
  width: 28vw;
}

.terapia-banner img {
  content: url("/images/FOTO TERAPIA.png");
  background-size: cover;
  max-width: 90vw;
}

.terapia-content-top {
  margin: 4vw;
}

.terapia-content-top p {
  font-weight: 600;
  font-size: 1.2rem;
}

.terapia-passos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 10vw;
}

.terapia-passos img {
  max-width: 20vw;
}

.terapia-button {
  background-color: #117eff;
  width: 30vw;
  height: 7vh;
  color: white;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin: 10vw;
  text-decoration: none;
}

.terapia-button:hover {
  background-color: #8900fc;
}

.terapia-button p {
  margin: 7px;
  font-size: 1.5vw;
}

.terapia-content-bot {
  margin: 0 100px;
}

.terapia-content-bot-1 h2,
.terapia-content-bot-2 h2 {
  color: #8900fc;
  font-size: 2rem;
  font-weight: 600;
  font-style: italic;
  margin-bottom: 30px;
}

.terapia-content-bot-1 p span,
.terapia-content-bot-2 p span {
  color: #8900fc;
  font-style: italic;
}

.terapia-content-bot-1 p,
.terapia-content-bot-1 p span,
.terapia-content-bot-2 p,
.terapia-content-bot-2 p span {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 15px;
}

.terapia-content-bot-2 {
  margin-top: 50px;
}

.terapia-content-bot-2 p span {
  margin-right: 10px;
}

.terapia-content-bot-2 p {
  margin-bottom: 8px;
  font-weight: 550;
}

.terapia-footer {
  color: #8900fc;
  font-style: italic;
  font-size: 1.5rem;
  margin: 50px 100px 0;
  font-weight: 600;
}

@media (max-width: 599px) {
  .terapia-banner h2 {
    top: 10vh;
  }
  .terapia-passos {
    margin: 5vw;
    flex-direction: column;
    gap: 50px;
  }
  .terapia-passos img {
    max-width: 50vw;
  }

  .terapia-button{
    width: 60vw;
  }

  .terapia-button p{
    font-size: 3vw;
  }
  .terapia-content-bot, .terapia-footer{
    margin: 0 30px;
  }
}
@media (min-width: 600px) and (max-width: 899px) {
  .terapia-banner h2 {
    top: 10vh;
  }
  .terapia-passos {
    margin: 0 5vw;
  }
  .terapia-passos img {
    max-width: 25vw;
  }

  .terapia-button{
    width: 60vw;
  }

  .terapia-button p{
    font-size: 1.3rem;
  }
}
@media (min-width: 900px) and (max-width: 1199px) {
}
