.terapia {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.terapia-bg {
  background-image: url("/images/FUNDO DEGRADÊ.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.terapia-banner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.terapia-banner h2 {
  position: absolute;
  left: 2%;
  margin-bottom: 15vw;
  background-color: #117eff;
  font-style: italic;
  color: white;
  border-radius: 20px;
  padding: 1rem;
  font-size: 2.6vw;
  font-weight: 600;
  width: 28vw;
  text-align: center;
}

.terapia-banner img {
  content: url("/images/FOTO TERAPIA.png");
  background-size: cover;
  max-width: 90vw;
}

.terapia-content-top {
  margin: 4vw;
}

.terapia-content-top p {
  font-weight: 600;
  font-size: 1.2rem;
}

.terapia-passos-button {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1vw 0 0 0;
}

.terapia-passos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
}

.terapia-passos img {
  max-width: 20vw;
}

.terapia-button {
  background-color: #117eff;
  padding: 6px 25px;
  color: white;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  justify-self: center;
  margin: 5vw 0 0vw 0;
  text-decoration: none;
  width: 30vw;
}

.terapia-button:hover {
  background-color: #8900fc;
}

.terapia-button p {
  margin: 0;
  font-size: 1.4vw;
}

.terapia-content-bot {
  margin: 5vw 100px 0 100px;
}

.terapia-content-bot-1 h2,
.terapia-content-bot-2 h2 {
  color: #8900fc;
  font-size: 2.5rem;
  font-weight: 600;
  font-style: italic;
  margin-bottom: 30px;
}

.terapia-content-bot-1 p span,
.terapia-content-bot-2 p span {
  color: #8900fc;
  font-style: italic;
}

.terapia-content-bot-1 p,
.terapia-content-bot-1 p span,
.terapia-content-bot-2 p,
.terapia-content-bot-2 p span {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 15px;
}

.terapia-content-bot-2 {
  margin-top: 50px;
}

.terapia-content-bot-2 p span {
  margin-right: 10px;
}

.terapia-content-bot-2 p {
  margin-bottom: 8px;
  font-weight: 550;
}

.terapia-footer {
  color: #8900fc;
  font-style: italic;
  font-size: 1.4rem;
  margin: 50px 100px 0;
  font-weight: 600;
}

.btn-bot {
  margin-bottom: 5vw;
}

@media (max-width: 599px) {
  .terapia-banner h2 {
    top: 52vw;
    padding: 2vw;
    font-size: 3.5vw;
    width: 40vw;
  }

  .terapia-content-top p {
    font-size: 3.5vw;
  }
  .terapia-passos {
    margin: 5vw;
    flex-direction: column;
    gap: 50px;
  }
  .terapia-passos img {
    max-width: 65vw;
  }

  .terapia-button {
    width: 60vw;
    margin-bottom: 5vw;
  }

  .terapia-button p {
    font-size: 3vw;
  }
  .terapia-content-bot,
  .terapia-footer {
    margin: 10px 30px;
  }
  .btn-bot {
    width: 65vw;
  }

  .terapia-content-bot-1 h2,
  .terapia-content-bot-2 h2 {
    font-size: 4.5vw;
  }

  .terapia-content-bot-1 p,
  .terapia-content-bot-1 p span,
  .terapia-content-bot-2 p,
  .terapia-content-bot-2 p span,
  .terapia-footer {
    font-size: 3.5vw;
  }
}
@media (min-width: 600px) and (max-width: 899px) {
  .terapia-banner h2 {
    top: 50vh;
    padding: 2vw;
  }
  .terapia-passos {
    margin: 0 5vw;
  }
  .terapia-passos img {
    max-width: 25vw;
  }
  .terapia-button {
    width: 52vw;
  }

  .terapia-button p {
    font-size: 2.5vw;
  }
}
@media (min-width: 900px) and (max-width: 1199px) {
}
