.apresentacao{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4vw;
    gap: 50px;
    height: 100%;
}

.apresentacao img{
    content: url("/images/apresentacao.png");
    max-width: 31vw;
    height: auto;
}

.apresentacao-text{
    width: 50%;
}


.apresentacao-text h2{
    color: #117eff;
    font-size: 3rem;
    font-style: italic;
    font-weight: 600;
    margin-bottom: 50px;
}

.apresentacao-text p{
    display: flex;
    font-weight: 550;
}

.apresentacao-points{
    margin-top: 50px;
}

.apresentacao-points p{
    margin: 0;
}


.apresentacao-point{
    color: #8900fc;
    padding-right: 5px;
    
}

@media (max-width: 599px) {
    .apresentacao{
        flex-direction: column;
        margin: 0;
    }
    .apresentacao-text{
        width: 80%;
        padding-bottom: 50px;
    }
    .apresentacao img{
        max-width: 60vw;
    }
}
@media (min-width: 600px) and (max-width: 989px) {
    .apresentacao{
        flex-direction: column;
        margin: 0;
    }
    .apresentacao-text{
        width: 80%;
        padding-bottom: 50px;
    }
    .apresentacao img{
        max-width: 50vw;
    }

}
@media (min-width: 990px) and (max-width: 1300px) {
    .apresentacao{
        margin: 2vw;
    }
    
}