.lp-top-banner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    margin-top: 0vw;
    width: 100%;
    
}
.lp-img-container{
    background-image: url("/public/images/fundo asa lud.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center 50px;
    width: 40vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        width: 25vw;
    }
}
.lp-top-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    
    
    h2{
      
      font-size: 2.5vw;
      font-weight: 700;
      text-align: center;
      margin-bottom: 1vw;
      width: 100%;
      
  }
  p{
      font-size: 1.5vw;
     width: 80%;
      text-align: center;
  }
}

@media (max-width: 1199px) {
    .lp-top-banner h2 {
      font-size: 2.2rem;
    }
    
    .lp-top-banner p {
      font-size: 1.2rem;
    }
    
    .lp-img-container {
      height: 70vh;
    }
  }
  
  /* Tablet pequeno (600px - 899px) */
  @media (max-width: 899px) {
    .lp-top-banner{
      flex-direction: column;
    }
    .lp-top-banner {
      margin-top: 50px;
    }
    .lp-top-banner h2 {
      font-size: 1.8rem;
      margin-bottom: 15px;
    }
    
    .lp-top-banner p {
      font-size: 1.1rem;
      margin-bottom: 20px;
    }
    
    .lp-img-container {
      height: 60vh;
      width: 60%;
    }
    
    .lp-img-container img {
      width: 90%;
    }
  }
  
  /* Mobile (até 599px) */
  @media (max-width: 599px) {
    
    .lp-top-banner {
      margin-top: 150px;
      padding: 0 15px;
      flex-direction: column;
      gap: 150px;

    }
    
    .lp-top-banner h2 {
      font-size: 1.5rem;
      margin-bottom: 10px;
    }
    
    .lp-top-banner p {
      font-size: 1rem;
      text-align: center;
      margin-bottom: 15px;
    }
    
    .lp-img-container {
      height: 40vh;
      width: 80%;
      background-position: center 30px;
      margin-bottom: 20px;
    }
    
    .lp-img-container img {
      width: 90%;
    }
  }
  